.calendar--calendar {
  display: flex;
  flex: 1;
}

.calendar--time-gutter {
  display: flex;
  flex-direction: column;
}

.calendar--time-slot-group {
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  border-bottom: 1px solid #363e41;
  border-left: 1px solid #363e41;
}

.calendar--time-slot-text {
  font-size: 12px;
  color: #ecf0f1;
}

.calendar--week {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.calendar--week-content {
  display: flex;
  overflow: hidden;
}

.calendar--week-header,
.calendar--day .calendar--date-header {
  background-color: #3c6382;
  padding: 2px 0;
  border-bottom: 2px solid #122e42;
}

.calendar--dates-header {
  display: flex;
  background-color: #3c6382;
  flex-flow: row nowrap;
  align-content: stretch;
}

.calendar--dates {
  flex-flow: row nowrap;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex: 1;
}

.calendar--date-header {
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.calendar--date-header-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar--date {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 15px;
  min-height: 30px;
  line-height: 30px;
}

.calendar--day {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.calendar--day-slot {
  flex: 1;
  position: relative;
}

.calendar--day-content {
  display: flex;
  overflow: auto;
}

.calendar--hour-slot {
  padding: 0 10px;
  flex: 1 0 0;
  background-color: #262d2f;
}

.calendar--event {
  font-size: 14px;
  padding: 5px 5px 2;
  background-color: #5fb4ca;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #2d3436
}

.calendar--event-title {
  font-weight: bold;
  height: 2em;
  line-height: 1em;
  overflow: hidden;
}

.calendar--event-sub {
  font-size: 11px;
}

.calendar--navigations-day,
.calendar--navigations-week {
  border: 0;
  padding: 0 15px;
  background-color: transparent;
  height: 100%;
  color: #ecf0f1;
  font-size: 15px;
  cursor: pointer;
}

.calendar--navigations-day:hover,
.calendar--navigations-week:hover {
  font-weight: bold;
}

.calendar--jour-ferie {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #262D2F;
  width: 100%;
  color: #657277;
  padding: 100px 0;
}