:root {

    --nav-color: #124368;
    --accent-color: #3c6382;
    --accent-color-dark: #345b7a;

    --background-color: #262d2f;
    --body-color: #2d3436;
    --border-color: #363e41;
    --text-color: #ecf0f1;

    --header-border-color: #122e42;
}