@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
  background-color: #2d3436;
  color: #ecf0f1;
}

body>div {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden
}

.hidden {
  display: none !important;
}

.main--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main--calendar {
  overflow: hidden;
  display: flex;
  /* flex: 1; */
}

.main--toolbar {
  display: flex;
  background-color: #124368;
  padding: 0;
  justify-content: space-between;
  height: 40px;
  position: relative;
}

.main--month-title {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main--month-title h2 {
  margin: 0;
  padding: 5px 0;
  font-size: 22px;
  white-space: nowrap;
}

.main--navigatiors-button,
.main--selector-select {
  height: 100%;
  border: 0;
  background-color: transparent;
  color: #ecf0f1;
  font-size: 15px;
  cursor: pointer;
  vertical-align: top;
}

.main--navigatiors-button:hover,
.main--selector-select:hover {
  background-color: #34495e;
}

.main--navigatiors-reload {
  font-size: 1.3em;
  line-height: 100%;
}

.main--navigatiors-reload span {
  display: block;
  padding-left: 4px;
  transform-origin: center center;
  animation-name: none;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.main--navigatiors-reload.loop span {
  animation-name: loop;
}

.main--navigatiors-button {
  padding: 0 8px;
  text-transform: uppercase;
}

.main--paginators,
.main--selector {
  z-index: 1;
}

.main--selector-select {
  appearance: none;
  padding: 0 5px;
}

.main--message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun2 .calendar--event {
  background-color: #e30404 !important;
  overflow: visible;
  animation: 4s singing infinite alternate linear;
}

.fun2 .calendar--week {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Communist_Party_of_Vietnam_flag_logo.svg/277px-Communist_Party_of_Vietnam_flag_logo.svg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90vh;
}

.fun2 .calendar--week-content .calendar--day:nth-child(odd) .calendar--event {
  animation-delay: 1s;
}

.fun2 .calendar--week-content .calendar--day:nth-child(even) .calendar--event {
  animation-delay: 0;
}

.fun2 .calendar--event::after {
  content: '';
  background-image: url("http://en.shapki-ushanki.ru/img/ushanka.png");
  width: 100%;
  max-width: 150px;
  height: 100px;
  display: block;
  background-size: cover;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.fun2 .calendar--event::before {
  content: '';
  background-image: url("http://gifimage.net/wp-content/uploads/2017/08/mouth-gif-21.gif");
  width: 50%;
  max-width: 50px;
  height: 50px;
  display: block;
  background-size: cover;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
}

.fun .calendar--week-content .calendar--day:nth-child(odd) .calendar--event:nth-child(odd) {
  animation: linear infinite 4s 0.6s fun alternate !important;
}

.fun .calendar--week-content .calendar--day:nth-child(odd) .calendar--event:nth-child(even) {
  animation: linear infinite 4s 0.2s fun alternate !important;
}

.fun .calendar--week-content .calendar--day:nth-child(even) .calendar--event:nth-child(odd) {
  animation: linear infinite 4s fun alternate-reverse !important;
}

.fun .calendar--week-content .calendar--day:nth-child(even) .calendar--event:nth-child(even) {
  animation: linear infinite 4s 0.5s fun alternate-reverse !important;
}

.fun .main--navigatiors-reload span {
  animation: linear infinite 4s 0.3s fun alternate-reverse !important;
}

@keyframes loop {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fun {
  0% {
    transform: rotate(0) scale(0.8);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  100% {
    transform: rotate(-720deg) scale(0.8);
  }
}

@keyframes singing {
  0% {
    transform: translatey(0) scale(1);
  }

  80% {
    transform: translatey(-15px) scale(1.05) rotate(1deg);
  }

  100% {
    transform: translatey(-20px) scale(1.1) rotate(-1deg);
  }
}

@media only screen and (max-width: 430px) {
  .main--month-title h2 {
    font-size: 16px;
    line-height: 30px;
  }

  .main--navigatiors-reload {
    padding-left: 0;
  }
}