* {
  box-sizing: border-box;
}

html, body, #root{
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.main--container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main--calendar {
  overflow: hidden;
  display: flex;
}

.main--toolbar {
  display: flex;
  margin-bottom: 1rem;
}

.main--month-title {
  flex: 1;
  cursor: pointer;
}

.main--month-title h2 {
  margin: 0;
}

.main--selector {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
}

.main--navigatiors-button {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
}