.sidemenu--container {
    display: flex;
    flex-direction: column;
}

.sidemenu--main {
    padding: 15px;
    flex: 1;
}

.sidemenu--selector select {
    display: block;
    border: 0;
    padding: 2px;
    background-color: var(--accent-color);
    font-size: 1rem;
    cursor: pointer;
    vertical-align: top;
}

.sidemenu--footer {
    padding: 3px 0;
}

.sidemenu--footer i {
    padding-right: 5px;
}

.sidemenu--footer .icon-secure {
    color: green;
}

.sidemenu--footer .icon-unsecure {
    color: rgb(180, 40, 40);
}

.sidemenu--row {
    margin-bottom: 5px;
}

.sidemenu--github-btn {
    background-color: #eff3f6;
    background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.25em;
    color: #24292e;
    text-decoration: none;
    box-sizing: content-box;
}

.sidemenu--github-btn svg {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
