
.tooltip--event {
    position: absolute;
    font-size: 0.9rem;
    width: 250px;
    color: var(--text-color);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);

    pointer-events: none;
    user-select: none;
}

.tooltip--event-title {
    font-size: 1.3em;
    padding: 5px;
}

.tooltip--event-badge {
    font-weight: 500;
    font-size: 0.7rem;
    padding: 1px;
    border-radius: 3px;
    margin-left: 6px;
    vertical-align: baseline;
    background-color: var(--background-color);
}

.tooltip--event-hours {
    font-size: 1.2em;
    font-style: italic;
}

.tooltip--event-sub {
    background-color: var(--body-color);
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
}
