.calendar--calendar {
  display: flex;
  flex: 1;
}

.calendar--time-gutter {
  min-width: 70px;
}

.calendar--time-slot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid #d7d7d7;
}

.calendar--week {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #DDD;
  flex: 1;
}

.calendar--week-content {
  display: flex;
  border-top: 2px solid #DDD;
  overflow-y: auto;
}

.calendar--dates-header {
  display: flex;
  border-bottom: 1px solid #f7f7f7;
  flex-flow: row nowrap;
  align-content: stretch;
}

.calendar--dates {
  flex-flow: row nowrap;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  flex: 1;
}

.calendar--date-header {
  padding: 0;
  text-align: center;
  border-left: 1px solid #f7f7f7;
}

.calendar--date {
  color: black;
  text-decoration: none;
}

.calendar--day {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.calendar--day-slot {
  border-bottom: 1px solid #f7f7f7;
  flex: 1;
  position: relative;
}

.calendar--day-content {
  display: flex;
  overflow: auto;
}

.calendar--time-slot-text {
  font-size: 14px;
}

.calendar--hour-slot {
  padding: 0 5px;
  flex: 1 0 0;
}

.calendar--event {
  font-size: 14px;  
  padding: 2px 5px;
  background-color: #5fb4ca;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.calendar--event-title {
  font-weight: bold;
  height: 2em;
  line-height: 1em;
}

.calendar--event-sub {
  font-size: 11px;
}